body {
    margin: 0px;
}

.menu {
    width: 100%;
    height: 100vh;
    background-image: url("6.gif");
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
}

.name {
    color: rgb(0, 0, 0);
    font-size: 150px;
    align-self: flex-start;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 2px rgba(243, 243, 243, 0.5);
}

.options {
    width: 500px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    margin-left: 0%;
    margin-top: 100px;
}

.play {
    position: absolute;
    margin-left: 150px;
    margin-top: 75px;
    width: 250px;
    height: 100px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.034);
}

.sound {
    margin-top: 200px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

.sound:hover {
    background-color: aliceblue;
}

.credits {
    position: absolute;
    margin-top: 200px;
    margin-left: 325px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.credits:hover {
    background-color: aliceblue;
}

.instructions {
    position: absolute;
    margin-top: 200px;
    margin-left: 275px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.instructions:hover {
    background-color: aliceblue;
}

.play:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.103);
    color: black;
}

.sound:hover {
    cursor: pointer;
}

.logo:hover {
    cursor: pointer;
}

.viking {
    width: 512.1px;
    height: 512px;
    background-image: url("viking.png");
    position: absolute;
    transform: scale(0.75);
    margin-top: 300px;
}

.troll {
    width: 420px;
    height: 262.8px;
    background-image: url("troll.png");
    position: absolute;
    transform: scaleX(-1.6) scaleY(1.6);
    margin-left: 950px;
    margin-top: 390px;
}

.vikingHealth {
    border-radius: 10px;
    border: solid;
    border-color: black;
    width: 30px;
    height: 400px;
    margin-top: 250px;
    margin-left: 80px;
    background-color: rgb(255, 0, 0);
    position: absolute;
}

.trollHealth {
    border-radius: 10px;
    border: solid;
    border-color: black;
    width: 400px;
    height: 30px;
    margin-top: 50px;
    margin-left: 950px;
    background-color: rgb(0, 255, 13);
    position: absolute;
}

.vikingHealth1 {
    width: 30px;
    height: 400px;
    margin-top: 250px;
    margin-left: 80px;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
}

.trollHealth1 {
    border-radius: 10px;
    border: solid;
    border-color: black;
    width: 400px;
    height: 30px;
    margin-top: 50px;
    margin-left: 950px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
}

.level2 {
    width: 100%;
    height: 100vh;
    background-image: url("10.gif");
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
}

.level3 {
    width: 100%;
    height: 100vh;
    background-image: url("background3.gif");
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
}